<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'css/footer.css' %}"  rel="stylesheet">
<div class="footer-dark">
    <footer>
        <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter" ></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-google"></i></a></div>
        <p class="copyright">Aliaghaie © 2020</p>

    </footer>
</div>
</html>